body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @media (min-width: 992px) {
    header, main, footer {
      padding-right: 0;
    }
  }
}

main {
  flex: 1 0 auto;
}

.card .card-title {
  color: #000;
}