.modal {
  overflow-y: visible;
}

.report-modal {
  width: 250px;
}

#reports_length {
  float: right;
  select {
    font-size: 1rem;
    cursor: pointer;
  }
}

.inline-block .select-wrapper {
  display: inline-block;
}

.select-wrapper.form-control.input-sm {
  display: inline-block;
}

.picker--opened .picker__holder {
  overflow-y: visible;
}

.pagination {
  li {
    padding: 12px;
    height: auto;
    &.previous, &.next {
      padding: 7px;
      height: 45px;
    }
    &.active {
      color: #fff;
    }
  }
}

#reports_paginate {
  float: left;
}

#clients_length {
  float: right;
  select {
    font-size: 1rem;
    cursor: pointer;
  }
}

#clients_paginate {
  float: left;
}

table {
  &#clients {
    tr {
      cursor: pointer;
      &:hover {
        background-color: #eeeeee;
      }
    }
  }
  ul {
    margin: 0;
  }
}